@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-custompurple: #673833;
  --color-customwhite: #efefef;
  --color-customblack: #414141;
  --font-customGoogleFont: 'Google Sans', sans-serif;
}